<form id="postForm" action="/create" method="POST">
    <h1 class="accent">Create a Post!</h1>
    {{#each errors}}
    <p class="error text-center">{{this}}</p>
    {{/each}}
    <input type="text" name="title" placeholder="Title your Post" required>
    <input type="text" id="inputField" name="text" placeholder="Write your Post" required>
    <p>Character count: <span id="charCount">0</span>/500</p>
    <button id="submitBtn" type="submit">Send Post</button>
</form>

<section class="column align-center post-output">
    {{#each posts}}
    <div class="box post text-center">
        <div class="post-heading row text-center justify-between align-center">
            <h2 class="accent">{{title}}</h2>
            <p class="post-author accent">Posted by {{author.username}} on {{date}}</p>
        </div>
        <div class="post-text-container">
            <p class="post-text">{{text}}</p>
            <input type="text" class="edit-post-input" style="display: none;">
        </div>
        <div class="options row">
            <button id="updateBtn" data-post-id="{{id}}"><i class="fa-solid fa-pen-nib fa-xl"></i></button>
            <button id="deleteBtn" data-post-id="{{id}}"><i class="fa-solid fa-trash-can fa-xl"></i></button>
        </div>
    </div>
    {{/each}}
</section>